
{% extends 'theme.html' %}

{% block title %} Messages {% endblock %}

{% block header_content %}
    <h1>Messages</h1>
{% endblock header_content %}

{% block content %}
    <ul class="list-group">
        {% for message in object_list %}
            <li class="list-group-item">
                <a href="{% url 'message_detail' message.pk %}">{{ message.title }}</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'message_create' %}" class="btn btn-primary mt-3">Add New Message</a>
{% endblock content %}
