{% extends 'theme.html' %}

{% block title %}
    User Profile - {{ user.username }}
{% endblock %}
{% block header_content %}
Logged out
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}

        <h2>User Profile</h2>
        <p><strong>Username:</strong> {{ user.username }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>

        {% if user.investigator %}
            <p><strong>Investigator Name:</strong> {{ user.investigator.name }}</p>
        {% else %}
            <p>You are not registered as an Investigator yet.</p>
        {% endif %}

        <div class="mt-4">
            <a href="{% url 'account_edit' user.pk %}" class="btn btn-warning">Edit Profile</a>
        </div>



    {% else %}

    <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Log In</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
    </li>

    {% endif %}

{% endblock %}